server:
  port: 8090

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/authdb
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

jwt:
  secret: my-super-secret-key-my-super-secret-key
  expiration: 86400000
