server:
  port: 8070

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8090
          predicates:
            - Path=/api/auth/**
          filters:
            - RewritePath=/api/auth(?<segment>.*), /auth${segment}

        - id: product-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/product/**
          filters:
            - RewritePath=/api/product(?<segment>.*), /product${segment}

        - id: order-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/orders/**
          filters:
            - RewritePath=/api/orders(?<segment>.*), /orders${segment}
