server:
  port: 8083

spring:
  datasource:
    url: jdbc:postgresql://localhost:5435/orderdb
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

product-service:
  url: http://localhost:8083